.presentation_projet {
    background-color: darkslateblue;
    width: 100%;
    display: flex;
    justify-content: center;
  
}

.les_projets {
    background-color: darksalmon;
    width: 39%;
    min-width: 300px;
}

.voir_projet {
    background-color: deeppink;
    padding-top: 220px;
    width: 300px;
    min-width: 300px;
}

.projet_pair {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    border-bottom: 2px solid #ffffff;
    overflow: hidden;
}

.projet_impair {
    justify-content: space-between;
    border-bottom: 2px solid #ffffff;
    padding: 50px 0;
    overflow: hidden;
}

.titre_projet_impair {
    transform: translateY(12em);
    transition: 1.5s ease-in-out;
    
}

.titre_projet_pair {
    transform: translateY(-10em);
    transition: 1.5s ease-in-out;
    
}


/*Petit ecran*/

@media screen and (max-width: 1263px) {
    .projet_impair{
        flex-direction: column;
        transform: translateY(0);
        transition: none;
        border: none;
        overflow: visible;
    }
    .projet_pair{
        flex-direction: column;
        transform: translateY(0);
        transition: none;
        border: none;
        overflow: visible;
    }
}
