.presentation_projet {
    background-image: url(../images/fondProjet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10vh;
}

.les_projets {
    width: 39%;
    min-width: 300px;
    color: var(--color-font);
}

.voir_projet {
    padding-top: 220px;
    width: 300px;
    min-width: 300px;
    margin-right: 20px;
}

.projet_pair {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    border-bottom: 2px solid #ffffff;
    overflow: hidden;
}

.projet_impair {
    justify-content: space-between;
    border-bottom: 2px solid #ffffff;
    padding: 50px 0;
    overflow: hidden;
}

.titre_projet_impair {
    transform: translateY(12em);
    transition: 1.3s ease-in-out;
}

.titre_projet_pair {
    transform: translateY(-10em);
    transition: 1.3s ease-in-out;
}


.instagram{
    background-image: url(../images/instagramProjet.PNG);
    background-size: contain;
    background-repeat: no-repeat;
}

.op{
    background-image: url(../images/opProjet.PNG);
    background-size: cover;
    background-repeat: no-repeat;
}

.titan{
    background-image: url(../images/snkProjet.PNG);
    background-size: contain;
    background-repeat: no-repeat;
}

/*Petit ecran*/

@media screen and (max-width: 1263px) {
    .projet_impair {
        flex-direction: column;
        border: none;
        overflow: visible;
    }
    .projet_pair {
        flex-direction: column;
        border: none;
        overflow: visible;
    }
    .titre_projet_impair {
        transform: translateY(0);
        transition: none;
    }
    .titre_projet_pair {
        transform: translateY(0);
        transition: none;
    }
}