/*variables*/

:root {
    --color-font: #fff;
    --color-hyperlien: black;
    --font: 'Poppins', sans-serif;
}


/*reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*css de bases*/

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}


/*css de bases*/

body {
    background-color: #CAB39D;
    font-family: var(--font);
}

a {
    text-decoration: none;
    color: var(--color-hyperlien);
}


/*accueil*/

header {
    align-items: flex-end;
    padding-bottom: 50vh;
    background-image: url(../images/fondAccueil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.placement_nav {
    display: flex;
    align-items: flex-end;
}

.burger {
    display: none;
}

.navbar {
    align-items: flex-end;
    width: 250px;
    padding: 20px;
    z-index: 1;
    position: fixed;
    top: 100px;
    transition: 1s ease-in-out;
}

.haut {
    transform: translateX(94%);
    transition: all 1s ease-in-out;
    margin-bottom: 10px;
}

.bas {
    transform: translateX(90%);
    transition: all 1s ease-in-out;
    margin-bottom: 10px;
}

.nav:hover {
    transform: translateX(0);
}

.icone {
    width: 30px;
}

.lien_text {
    margin-left: 10px;
    color: var(--color-font);
}

.identite {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.identite_titre {
    padding-top: 50vh;
    font-size: 6vmin;
    color: var(--color-font);
}

.caractere {
    display: inline-block;
}

@media screen and (max-width: 810px) {
    .navbar {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
    }
    .showNav {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
    .burger {
        display: block;
        height: 60px;
        width: 60px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        z-index: 3;
        margin-right: 22px;
        position: fixed;
    }
    .bar {
        width: 56px;
        height: 3px;
        background: white;
        display: block;
    }
    .showNav .bar {
        background: transparent;
        width: 0;
        transition: 0.3s;
    }
    .bar::before,
    .bar::after {
        content: "";
        width: 56px;
        height: 3px;
        background-color: white;
        display: block;
        position: absolute;
    }
    .bar::before {
        transform: translateY(-12px);
    }
    .showNav .bar::before {
        transform: rotate(45deg);
        transition: 0.7s;
    }
    .bar::after {
        transform: translateY(12px);
    }
    .showNav .bar::after {
        transform: rotate(-45deg);
        transition: 0.7s;
    }
    .haut {
        transform: translateX(0);
        padding-bottom: 20px;
    }
    .bas {
        transform: translateX(0);
        padding-bottom: 20px;
    }
}