/*variables*/

:root {
    --color-font: #fff;
    --color-hyperlien: black;
    --font: 'Poppins', sans-serif;
}


/*reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*css de bases*/

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}


/*css de bases*/

body {
    background-color: #CAB39D;
    font-family: var(--font);
}

a {
    text-decoration: none;
    color: var(--color-hyperlien);
}


/*accueil*/

header {
    align-items: center;
    padding-bottom: 50vh;
    background-image: url(../images/fondAccueil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    align-items: flex-end;
    width: 100vw;
    position: fixed;
    padding: 20px;
    z-index: 1;
}

.haut {
    transform: translateX(88%);
    transition: all 1s ease-in-out;
    margin-bottom: 10px;
}

.bas {
    transform: translateX(84%);
    transition: all 1s ease-in-out;
    margin-bottom: 10px;
}

.nav:hover {
    transform: translateX(-16px);
}

.icone {
    width: 30px;
}

.lien_text {
    margin-left: 5px;
    color: var(--color-font);
}

.identite {
    padding-top: 50vh;
    font-size: 6vmin;
    color: var(--color-font);
}

.caractere {
    display: inline-block;
    padding-right: 5px;
}