.presentation {
    padding-top: 45vh;
    padding-bottom: 45vh;
    justify-content: center;
}

.presentation_photo {
    background-image: url(../images/moi.svg);
    background-size: contain;
    border-radius: 50%;
    padding: 105px;
    margin-right: 150px;
}

.presentation_texte {
    width: 40vw;
    min-width: 480px;
    border-left: 2px solid;
    overflow-x: hidden;
    color: var(--color-font);
}

.trans {
    transform: translateX(-100%);
    opacity: 0;
}

.presentation_titre {
    padding-bottom: 18px;
    margin-left: 15px;
}

.presentation_moi {
    margin-left: 15px;
}

@media screen and (max-width: 375px) {
    .presentation {
        display: flex;
        flex-direction: column;
    }
    .presentation_photo {
        margin-right: 0;
        margin-bottom: 35px;
    }
    .presentation_texte {
        width: auto;
        margin-left: -5px;
    }
}

@media screen and (max-width: 864px) {
    .presentation {
        flex-direction: column;
    }
    .presentation_photo {
        margin-right: 0px;
    }
    .presentation_texte {
        border: none;
        margin-top: 78px;
    }
    .trans {
        transform: none;
        opacity: 1;
    }
}