.competence {
    width: 100%;
    /* overflow: hidden;*/
    padding-top: 5vh;
    padding-bottom: 25vh;
    align-items: center;
}

.categorie_competence {
    width: 39%;
    justify-content: center;
    align-items: center;
}

.presentation_competence{
    overflow: hidden;
}

.competence_front,
.competence_back,
.competence_maquette {
    align-items: center;
}

.choix_competence {
    width: 75%;
    min-width: 134px;
    margin: 60px 0 40px;
    padding: 20px 0;
    background-color: #634b4b7c;
    border: none;
    border-radius: 6px;
    box-shadow: 3px 2px 9px black;
    font-family: var(--font);
    color: var(--color-font);
    font-size: 25px;
    justify-content: center;
    display: flex;
}

.competence_detail {
    width: 45%;
    min-width: 395px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}

.icone_competence {
    width: 40px;
}

.competence_intitule {
    align-items: center;
    color: var(--color-font);
    font-weight: lighter;
    font-size: 20px;
}

.competence_titre {
    text-transform: uppercase;
}

.front {
    
    transition: 1s ease;
}

.back {
    transition: 1s ease-in-out;
    
}

.maquette {
    
    transition: 1s ease-in-out;
}