.competence {
    width: 100%;
    overflow: hidden;
    padding-top: 5vh;
    padding-bottom: 15vh;
}

.competence {
    width: 100%;
    overflow: hidden;
    padding-top: 5vh;
    padding-bottom: 25vh;
}

.categorie_competence {
    width: 39%;
    justify-content: center;
    align-items: center;
}

.choix_competence {
    width: 55%;
    min-width: 134px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 60px 0 40px;
    background-color: #634b4b7c;
    border: none;
    border-radius: 6px;
    box-shadow: 3px 2px 9px black;
    font-family: var(--font);
    color: var(--color-font);
    font-size: 25px;
}

.competence_detail {
    width: 45%;
    min-width: 421px;
    justify-content: space-around;
    align-items: center;
}

.icone_competence {
    width: 64px;
}

.competence_intitule {
    align-items: center;
    color: var(--color-font);
    font-weight: lighter;
    font-size: 20px;
}

.competence_titre {
    text-transform: uppercase;
}

.front {
    transform: translateY(-337%);
    transition: 1.5s ease;
}

.back {
    transition: 1.5s ease-in-out;
    transform: translateX(-300%);
}

.maquette {
    transform: translate(276%, -74px);
    transition: 1.5s ease-in-out;
}